.game-container{
    display: flex;
    align-self: center;
    width: 100%;
    justify-self: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(128, 128, 128, 0.281);
    height: 100vh;
}

.game-objects{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(216, 181, 134);
    margin-left: auto;
    margin-right: auto;
    padding: 0.5cap 2cap;
    font-size: 5vw;
}

@media (min-width: 500px){
    .game-objects{
        font-size: 2em;
    }

    .game-container{
        height:auto;
    }
}

.game-container div{
    background-color: rgba(223, 77, 77, 0.507);
    border-radius: 0.7em;
    opacity: 0;
}

@keyframes fade-in{
    0%{opacity: 0;
        scale: 0.7}
    100%{opacity: 1;
        scale:1}
}

.game-container div::after{
    opacity: 1;
}